<main id="maincontent" role="main" tabindex="-1">



    <div class="content-box">
        <div class="container">
            <div class="">
                <div class="content-side full">

                    <div class="product-listing sub-listing ">

                        <!-- Start K2 Category Layout -->

                        <div id="k2Container" class="itemListView">

                            <!-- Page title -->

                            <div class="componentheading"> Kitchen Cabinets Supplier Ireland - The Panelling Centre
                            </div>

                            <!-- Blocks for current category and subcategories -->

                            <div class="itemListCategoriesBlock">

                                <!-- Category title -->

                                <h2>Kitchen Cabinets </h2>

                                <!-- Category description -->

                                <div>
                                    <div class="catdescription_wrap">
                                        <h2
                                            style="margin-bottom: 10px; font-size: 25px; font-weight: 500; color: #2a3a3c;">
                                            Kitchen Cabinets from The Panelling Centre</h2>
                                        <p>Looking for kitchen cabinets? - choose from our wide range of styles from The
                                            Panelling Centre in Ireland. Request a free kitchen design appointment today
                                            and let our experts create your dream kitchen with our wide range of kitchen
                                            cabinets including tall units, flatpack link-it units and our wide range of
                                            <a href="/kitchens.html">kitchen doors.</a><br> Find out more about our
                                            kitchen cabinets below or <a href="/make-an-appointment.html">book an
                                                appointment online</a> to speak to one of our team members.</p>
                                        <a href="/branch-finder.html">Contact us</a> today for a quote, stock in all
                                        locations
                                    </div>
                                    <h3 style="margin-top: 30px; font-weight: bold;">You may also need...</h3>
                                    <div class="servicrs-btn" style="margin-top: 10px;">
                                        <ul class="mod-list">
                                            <li class="item-143" style="width: 200px;"><a href="/sinks.html">Cabinet
                                                    Accessories</a></li>
                                            <li class="item-144" style="width: 200px;"><a
                                                    href="/kitchens.html">Doors</a></li>
                                            <li class="item-145" style="width: 200px;"><a
                                                    href="/worktops.html">Worktops</a></li>
                                        </ul>
                                    </div>
                                    <div class="itemListCategory">
                                        <div>
                                            <p class="desktop-banner-img"><img
                                                    src="/images/200504-PC-Website-IntCabinets-1160x300-V1.jpg"
                                                    alt="kitchen cabinets ireland" style="width: 100%; height: auto;">
                                            </p>
                                            <p class="mobile-banner-img"><img
                                                    src="/images/200731-PC-Website-IntCabinets-600x600-V1.jpg"
                                                    alt="kitchen cabinets ireland" style="width: 100%; height: auto;">
                                            </p>
                                        </div>
                                        <div class="clr">&nbsp;</div>
                                    </div>
                                    <p><strong>WHITE<br> STANDARD FLATPACK</strong></p>
                                    <ul>
                                        <li>18mm solid backs in base units and 8mm on wall / tall units</li>
                                        <li>Wall units are 300mm deep</li>
                                        <li>1mm hard wearing ABS edging on all leading edges</li>
                                        <li>Complete with clip-on hinges, adjustable legs and fixing brackets</li>
                                        <li>Cams and dowels are NOT preinserted</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- End K2 Category Layout -->
                        <script type="text/javascript"
                            src="/templates/panelling_centre/js/jquery.fancybox.pack.js"></script>
                        <script type="text/javascript">
                            jQuery(document).ready(function () {
                                jQuery('.fancybox').fancybox({
                                    wrapCSS: 'worktop_fancybox'
                                });
                            });
                        </script>
                    </div>

                    <!-- JoomlaWorks "K2" (v2.11.0) | Learn more about K2 at https://getk2.org -->


                </div>
            </div>
        </div>
    </div>


    <!--================================== End  ================================== --->

</main>